@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1595472646504'); /* IE9 */
  src: url('iconfont.eot?t=1595472646504#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABrQAAAKXAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBQIE6ATYCJAMICwYABCAFhG0HLhveBcgOJQWRzBgsBERABPX7oXv/vxCAYnTAKjpsbFJCIzvVQEpUyEb4zOtf5lr/Wnl7603AR3LnXHOpvRsTuEzwiF2a6PNcTm8CHUjrA+W4F60xqBdgHFCge2B0nEiBFAA3jF3gEu4TKNXJn2wrObMQWEisZYG4U8p5YJELShLLFAuFNXuTeA8KFGcvjI7wLvx8/DcRFmQKclbNwUWSBGIf39s5xl3/Xc59AoQI6HABcowDEnFSm9xjLBhnrDRpohfYV2Xw+P7/33eIvf55opBVXg7aoeye5K7iVn+ZgYRCLAB2Rt1EYZREebexyM2ej152X4ycaWPe/aY2f7z89uV2zLW6uHuslPvc1VBWtXidVLHePVh+eOJJxsejQjbWVMY1eGCryRLbBkfVl1txX79nvjeDniV1hbW1mG6YdbzC1zql/UpmXO2Dbg/V4t19bmyjaWmKufFE18BMiYk1AE97CeS7v/I75jcn7muqIr8syhL4t+ptFir6uYHiE7qCHyfvOZR0pWXPkiqvzWYWmN1QR6lSPAHsrXU71tRwl9lQrOFe3UU6UuSK9ZOJHUeBMlMoVGwVpcakHC5ThzIWqQSj+gFCtS1kKv1FrtoxmdgbFGj0hELVYYxSZ+F0ZpnBUHIJFPEMSVBohkqR6LDjZFxUmY/k9RqeZpWhoBhRgzICQwKDi5kUpEN0jg2GBnkoYxhiSrQwGTyGNBoC9ZSokMgCFYzpw4OCcB1PgSLRAs4mCuExiAQSNIOURIQO9sczXOn9+RC5eho82jJQky6GUAbK6aEQgYJ7kCk6Xa+Be3nGoIFcKIbBIIwitKBkMAvR0CAgff0sFUTEBFKMiOuFC7JH4b66wPUN2q87AaUscxZ2Yy5t8pQBAAA=') format('woff2'),
  url('iconfont.woff?t=1595472646504') format('woff'),
  url('iconfont.ttf?t=1595472646504') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1595472646504#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cart:before {
  content: "\ec90";
}

